USE [master]
GO
/****** Object:  Database [CLOTECH]    Script Date: 30/6/2026 12:31:43 ******/
CREATE DATABASE [CLOTECH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLOTECH', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLOTECH_log', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLOTECH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLOTECH]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [varchar](80) NOT NULL,
	[LogIn] [text] NULL,
	[Evento] [text] NULL,
	[Modulo] [text] NULL,
	[Criticidad] [int] NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[Id_Detalle] [varchar](50) NOT NULL,
	[Id_Factura] [varchar](50) NULL,
	[Id_Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](18, 0) NULL,
	[Precio_Venta] [decimal](18, 0) NULL,
	[Descuento] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id_Factura] [varchar](50) NOT NULL,
	[Id_Cliente] [varchar](50) NULL,
	[Descripcion] [text] NULL,
	[Metodo_pago] [text] NULL,
	[Fecha_emision] [date] NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[Id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaXFamilia]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaXFamilia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Id_SubFamilia] [varchar](50) NOT NULL,
 CONSTRAINT [Id_FamiliaXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC,
	[Id_SubFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_Idioma] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id_Patente] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatenteXFamilia]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatenteXFamilia](
	[Id_Patente] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NOT NULL,
 CONSTRAINT [Id_PatenteXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC,
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_Producto] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Descripcion] [text] NULL,
	[Precio_unitario] [decimal](18, 0) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Telefono] [int] NULL,
	[Direccion] [text] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id_Rol] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXFamilia]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXFamilia](
	[Id_Rol] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NOT NULL,
 CONSTRAINT [Id_RolXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXPatente]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXPatente](
	[Id_Rol] [varchar](50) NOT NULL,
	[Id_Patente] [varchar](50) NOT NULL,
 CONSTRAINT [Id_RolXPatente] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Edad] [int] NULL,
	[Email] [varchar](60) NULL,
	[Contraseña] [varchar](70) NULL,
	[Rol] [text] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXIdioma]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXIdioma](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Id_Idioma] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UsuarioXIdioma] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXRol]    Script Date: 30/6/2026 12:31:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXRol](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Id_Rol] [varchar](50) NOT NULL,
 CONSTRAINT [Id_UsuarioXRol] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha]) VALUES (N'08753091-d35d-44ee-a8ee-8d20aa53b6f5', N'jsulipaclotech@gmail.com', N'Log In', N'Usuario', 1, CAST(N'2026-06-29' AS Date))
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha]) VALUES (N'0b4ec0e6-8090-45eb-8c11-b4640b3ba652', N'jsulipaclotech@gmail.com', N'Log In', N'Usuario', 1, CAST(N'2026-06-29' AS Date))
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha]) VALUES (N'111b27be-7b87-465c-81a9-1c48327d4d80', N'jsulipaclotech@gmail.com', N'Log Out', N'Usuario', 2, CAST(N'2026-06-29' AS Date))
GO
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado]) VALUES (N'F0001', N'MENU ADMINISTRADOR', 1)
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado]) VALUES (N'F0002', N'GESTION DE USUARIO', 1)
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado]) VALUES (N'F0003', N'GESTION DE PERFIL', 1)
GO
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre]) VALUES (N'en', N'English')
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre]) VALUES (N'es', N'Español')
GO
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado]) VALUES (N'P0001', N'MODULO_ADMIN', 1)
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado]) VALUES (N'P0002', N'MODULO_MAESTRO', 1)
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado]) VALUES (N'P0003', N'MODULO_VENTA', 1)
GO
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia]) VALUES (N'P0001', N'F0001')
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia]) VALUES (N'P0002', N'F0001')
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia]) VALUES (N'P0003', N'F0001')
GO
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado]) VALUES (N'ADM001', N'Administrador', 1)
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado]) VALUES (N'ADM002', N'Gerente Damian', 0)
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado]) VALUES (N'CAJ001', N'Cajero', 1)
GO
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia]) VALUES (N'ADM001', N'F0001')
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia]) VALUES (N'ADM001', N'F0002')
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia]) VALUES (N'CAJ001', N'F0004')
GO
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo]) VALUES (N'A001', N'Rodriguez', N'Galati', 44777999, 21, N'rodriguezgalaticlotech@gmail.com', N'312e7440fcb03b9dc45b389a7dbee32975fcf4370dd37d8585624f2c07ad4cf2', N'Gerente', 1)
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo]) VALUES (N'A002', N'Jorge', N'Sulipa', 11222444, 21, N'jsulipaclotech@gmail.com', N'f69ed3a744195d7d1429b167f449ed9a76f36ba6a74f997a7bfe179649de32c4', N'Administrador', 1)
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo]) VALUES (N'C001', N'Damian', N'Lopez', 50606060, 25, N'dlopezclotech@gmail.com', N'b3282a2f2a28757b3a18ab833de16a9c54518c0b0cf493e3f0a7cf09386f326a', N'Cajero', 1)
GO
INSERT [dbo].[UsuarioXIdioma] ([Id_Usuario], [Id_Idioma]) VALUES (N'A002', N'es')
GO
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol]) VALUES (N'A002', N'ADM001')
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol]) VALUES (N'C001', N'CAJ001')
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol]) VALUES (N'C002', N'GER001')
GO
ALTER TABLE [dbo].[UsuarioXIdioma]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXIdioma_Idioma] FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idioma] ([Id_Idioma])
GO
ALTER TABLE [dbo].[UsuarioXIdioma] CHECK CONSTRAINT [FK_UsuarioXIdioma_Idioma]
GO
ALTER TABLE [dbo].[UsuarioXIdioma]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXIdioma_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[UsuarioXIdioma] CHECK CONSTRAINT [FK_UsuarioXIdioma_Usuario]
GO
USE [master]
GO
