USE [master]
GO
/****** Object:  Database [CLOTECH]    Script Date: 19/6/2026 06:11:43 ******/
CREATE DATABASE [CLOTECH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLOTECH', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLOTECH_log', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLOTECH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLOTECH]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[Id_Detalle] [varchar](50) NOT NULL,
	[Id_Factura] [varchar](50) NULL,
	[Id_Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](18, 0) NULL,
	[Precio_Venta] [decimal](18, 0) NULL,
	[Descuento] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id_Factura] [varchar](50) NOT NULL,
	[Id_Cliente] [varchar](50) NULL,
	[Descripcion] [text] NULL,
	[Metodo_pago] [text] NULL,
	[Fecha_emision] [date] NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[Id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaXFamilia]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaXFamilia](
	[Id_FamiliaXFamilia] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NULL,
	[Id_SubFamilia] [varchar](50) NULL,
 CONSTRAINT [PK_FamiliaXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_FamiliaXFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id_Patente] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatenteXFamilia]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatenteXFamilia](
	[Id_PatenteXFamilia] [varchar](50) NOT NULL,
	[Id_Patente] [varchar](50) NULL,
	[Id_Familia] [varchar](50) NULL,
 CONSTRAINT [PK_PatenteXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_PatenteXFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_Producto] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Descripcion] [text] NULL,
	[Precio_unitario] [decimal](18, 0) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Telefono] [int] NULL,
	[Direccion] [text] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id_Rol] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXFamilia]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXFamilia](
	[Id_RolXFamilia] [varchar](50) NOT NULL,
	[Id_Rol] [varchar](50) NULL,
	[Id_Familia] [varchar](50) NULL,
 CONSTRAINT [PK_RolXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_RolXFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXPatente]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXPatente](
	[Id_RolXPatente] [varchar](50) NOT NULL,
	[Id_Rol] [varchar](50) NULL,
	[Id_Patente] [varchar](50) NULL,
 CONSTRAINT [PK_RolXPatente] PRIMARY KEY CLUSTERED 
(
	[Id_RolXPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/6/2026 06:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Edad] [int] NULL,
	[Email] [varchar](60) NULL,
	[Contraseña] [varchar](70) NULL,
	[Rol] [text] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado]) VALUES (N'F0001', N'MENU ADMINISTRADOR', 1)
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado]) VALUES (N'F0002', N'GESTION DE USUARIO', 1)
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado]) VALUES (N'F0003', N'GESTION DE PERFIL', 1)
GO
INSERT [dbo].[FamiliaXFamilia] ([Id_FamiliaXFamilia], [Id_Familia], [Id_SubFamilia]) VALUES (N'FF0001', N'F0001', N'F0002')
GO
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado]) VALUES (N'P0001', N'MODULO_ADMIN', 1)
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado]) VALUES (N'P0002', N'MODULO_MAESTRO', 1)
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado]) VALUES (N'P0003', N'MODULO_VENTA', 1)
GO
INSERT [dbo].[PatenteXFamilia] ([Id_PatenteXFamilia], [Id_Patente], [Id_Familia]) VALUES (N'PF0001', N'P0001', N'F0001')
INSERT [dbo].[PatenteXFamilia] ([Id_PatenteXFamilia], [Id_Patente], [Id_Familia]) VALUES (N'PF0002', N'P0002', N'F0001')
INSERT [dbo].[PatenteXFamilia] ([Id_PatenteXFamilia], [Id_Patente], [Id_Familia]) VALUES (N'PF0003', N'P0003', N'F0001')
GO
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado]) VALUES (N'ADM001', N'Administrador', 1)
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado]) VALUES (N'CAJ001', N'Cajero', 1)
GO
INSERT [dbo].[RolXFamilia] ([Id_RolXFamilia], [Id_Rol], [Id_Familia]) VALUES (N'RF0001', N'ADM001', N'F0001')
INSERT [dbo].[RolXFamilia] ([Id_RolXFamilia], [Id_Rol], [Id_Familia]) VALUES (N'RF0002', N'ADM001', N'F0002')
INSERT [dbo].[RolXFamilia] ([Id_RolXFamilia], [Id_Rol], [Id_Familia]) VALUES (N'RF0003', N'ADM001', N'F0003')
GO
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo]) VALUES (N'A001', N'Jorge', N'Sulipa', 40000000, 36, N'jsulipaclotech@gmail.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'Administrador', 1)
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo]) VALUES (N'C001', N'Damian', N'Lopez', 50606060, 25, N'dlopezclotech@gmail.com', N'b3282a2f2a28757b3a18ab833de16a9c54518c0b0cf493e3f0a7cf09386f326a', N'Cajero', 1)
GO
USE [master]
GO
