USE [master]
GO
/****** Object:  Database [CLOTECH]    Script Date: 31/7/2026 22:07:35 ******/
CREATE DATABASE [CLOTECH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLOTECH', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLOTECH_log', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLOTECH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLOTECH]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [varchar](80) NOT NULL,
	[LogIn] [text] NULL,
	[Evento] [text] NULL,
	[Modulo] [text] NULL,
	[Criticidad] [int] NULL,
	[Fecha] [date] NULL,
	[Hora] [time](0) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[Id_Detalle] [varchar](50) NOT NULL,
	[Id_Factura] [varchar](50) NULL,
	[Id_Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](18, 0) NULL,
	[Precio_Venta] [decimal](18, 0) NULL,
	[Descuento] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[NombreTabla] [varchar](50) NOT NULL,
	[ValorHash] [varchar](64) NOT NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id_Factura] [varchar](50) NOT NULL,
	[Id_Cliente] [varchar](50) NULL,
	[Descripcion] [text] NULL,
	[Metodo_pago] [text] NULL,
	[Fecha_emision] [date] NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[Id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaXFamilia]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaXFamilia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Id_SubFamilia] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_FamiliaXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC,
	[Id_SubFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_Idioma] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id_Patente] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatenteXFamilia]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatenteXFamilia](
	[Id_Patente] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_PatenteXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC,
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_Producto] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Descripcion] [text] NULL,
	[Precio_unitario] [decimal](18, 0) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Telefono] [int] NULL,
	[Direccion] [text] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id_Rol] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXFamilia]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXFamilia](
	[Id_Rol] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_RolXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXPatente]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXPatente](
	[Id_Rol] [varchar](50) NOT NULL,
	[Id_Patente] [varchar](50) NOT NULL,
 CONSTRAINT [Id_RolXPatente] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Edad] [int] NULL,
	[Email] [varchar](60) NULL,
	[Contraseña] [varchar](70) NULL,
	[Rol] [text] NULL,
	[Activo] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXIdioma]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXIdioma](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Id_Idioma] [varchar](10) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_UsuarioXIdioma] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXRol]    Script Date: 31/7/2026 22:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXRol](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Id_Rol] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_UsuarioXRol] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha], [Hora]) VALUES (N'0d125248-3000-4746-a412-414b17c8fa97', N'jsulipaclotech@gmail.com', N'Log In', N'Usuario', 1, CAST(N'2026-07-16' AS Date), CAST(N'16:45:34' AS Time))
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha], [Hora]) VALUES (N'0df91099-8ef4-497c-9421-018d46044bc2', N'jsulipaclotech@gmail.com', N'Log In', N'Usuario', 1, CAST(N'2026-07-31' AS Date), CAST(N'17:56:19' AS Time))
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha], [Hora]) VALUES (N'0ec5437e-0b10-4514-9244-f341470aa255', N'jsulipaclotech@gmail.com', N'Agregar Rol', N'Gestion de Rol', 1, CAST(N'2026-07-16' AS Date), CAST(N'22:34:38' AS Time))
GO
INSERT [dbo].[DVV] ([NombreTabla], [ValorHash]) VALUES (N'Familia', N'3582D3F9595D9747935F7BD00EDEE125A6CBE3798B09CFF1123FE10043DF4057')
INSERT [dbo].[DVV] ([NombreTabla], [ValorHash]) VALUES (N'FamiliaXFamilia', N'FB4818BC0156D949666B45D635038E27E14F335CF17EE26A2BD808C2674A8255')
INSERT [dbo].[DVV] ([NombreTabla], [ValorHash]) VALUES (N'Idioma', N'AAADE786BA25A7D40FA7397B0545082D51D095947773818C01236E612C02B147')
GO
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado], [DVH]) VALUES (N'F001', N'MODULO_ADMIN', 1, N'A657471D29510CD0EDCA94BD14FBF6617D0DDA665899D39ADBF72E971E8F4C44')
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado], [DVH]) VALUES (N'F002', N'MODULO_MAESTRO', 1, N'AFC4BF1795C74E176229D065E8A17719AF02A23DD0F0544983EDD1718BFBB662')
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado], [DVH]) VALUES (N'F003', N'MODULO_VENTA', 1, N'49FA2EEF0F44E891ACF00172D5E86043EA6F18A4505D53D37B9BA985A86F4D96')
GO
INSERT [dbo].[FamiliaXFamilia] ([Id_Familia], [Id_SubFamilia], [DVH]) VALUES (N'F001', N'F006', N'70B3C9E5C3C8E5C8D02EA7DDF1C7C5A52CCC822F9C439E51ED87824749E8494A')
INSERT [dbo].[FamiliaXFamilia] ([Id_Familia], [Id_SubFamilia], [DVH]) VALUES (N'F001', N'F007', N'B1AB82F9758A56DEDDD408ECD111F2C87C4C8CF4079452CF3F15927F506DFBE6')
INSERT [dbo].[FamiliaXFamilia] ([Id_Familia], [Id_SubFamilia], [DVH]) VALUES (N'F001', N'F008', N'EAE97B5C1B1037D48A3A4C852090BDF6F3477A2CECE75B26AF7594582C31A4C0')
GO
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [DVH]) VALUES (N'en', N'English', N'ED6FA037278F06930DEF78F66CC044CCE4FE349F8F2773EED10F5D11E049EC89')
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [DVH]) VALUES (N'es', N'Español', N'D2BE655D776CCA75B74DBDD9E9527ED8169BC072E722F4F79CB8D16B30940CB4')
GO
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado], [DVH]) VALUES (N'P001', N'RegistrarUsuario', 1, N'9DE0DE9A3A1049CC46099712D7127D0C22D92D04E4859573ED6453B5CEC03988')
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado], [DVH]) VALUES (N'P002', N'ModificarUsuario', 1, N'29C534B19B963CD43C62D257696E636CF4D5C3A6E9C460CBA4F23407E40A19B1')
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado], [DVH]) VALUES (N'P003', N'ActivarUsuario', 1, N'9EE53D7CFA03B843F6334FA71F2992F305DA7330801C8B337A33AC40EDD63AAF')
GO
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia], [DVH]) VALUES (N'P001', N'F006', N'5D57450ACB88AC090A5D39EC08B202763A067F6539159E1FBD09AB2D6E2A0008')
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia], [DVH]) VALUES (N'P002', N'F006', N'3A5B738B9757A0B49217E9FAACDEF3D7CE86CAE0A605D18D669A1A4B79A1799A')
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia], [DVH]) VALUES (N'P003', N'F006', N'6ADF1D6EDC33C02A1A2DBD9DB9639B1C78ADD2B101AA54BE3885B531F19CC342')
GO
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado], [DVH]) VALUES (N'ADM001', N'Administrador', 1, N'628254D68F57D6329A49175A2CCD14F81D52089A0702EF519A26078044EE49E9')
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado], [DVH]) VALUES (N'ADM002', N'Gerente Damian', 0, N'C44F2F7EC6F28C5F031D8D14D43986959356045E2767D64432411A3E7956A206')
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado], [DVH]) VALUES (N'CAJ001', N'Cajero', 1, N'CBD5D6DA6E2312B57A6CBAD4881E62D98DEBCABD92A70EEE4C9CF277D0F566D4')
GO
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia], [DVH]) VALUES (N'ADM001', N'F001', N'5B61E042749F393A3AAA2E7A00DEB6EA6EFC98B1FBDECDC4E3DF0357C42A5DEA')
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia], [DVH]) VALUES (N'ADM001', N'F002', N'04E0AB262918376EA92D96728C6C1C374758BC8B3966BC162BA78E0D6312F9FF')
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia], [DVH]) VALUES (N'ADM001', N'F003', N'542FA740CD4A84C7AE97D3F1CA214D508A3BCD229D73EDF7BA19B62A2EB44877')
GO
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo], [DVH]) VALUES (N'A001', N'Rodriguez', N'Galati', 44777999, 21, N'rodriguezgalaticlotech@gmail.com', N'312e7440fcb03b9dc45b389a7dbee32975fcf4370dd37d8585624f2c07ad4cf2', N'Gerente', 1, N'19CEE415B378F5AC507893FD41D98F27A06AAF87163F8CEA857AE8CF2B01EAE3')
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo], [DVH]) VALUES (N'A002', N'Jorge', N'Sulipa', 11222444, 21, N'jsulipaclotech@gmail.com', N'f69ed3a744195d7d1429b167f449ed9a76f36ba6a74f997a7bfe179649de32c4', N'Administrador', 1, N'19C9AFF8C55FCC8EDF521EE504AE66E6D4A23AEAC150C89BEB00F804DF72B91F')
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo], [DVH]) VALUES (N'C001', N'Damian', N'Lopez', 50606060, 25, N'dlopezclotech@gmail.com', N'6c15c5bf902dff4e0d3d42d0c73c98a2a96ddad52332e81a1028a9390d249d13', N'Cajero', 0, N'BC2C1756D32A5FF981F7569B7780AE23BECC53B9B0173FED3E0A21C810B3612B')
GO
INSERT [dbo].[UsuarioXIdioma] ([Id_Usuario], [Id_Idioma], [DVH]) VALUES (N'A002', N'es', N'B982D61AEC031E33B8C821D6AA7559BAD2430AE33E945AD814DB0D3137817073')
INSERT [dbo].[UsuarioXIdioma] ([Id_Usuario], [Id_Idioma], [DVH]) VALUES (N'C003', N'es', N'096CFBC210A56F648969B94E1FF7259E7719D21B13716D366A76AB5620136287')
GO
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol], [DVH]) VALUES (N'A002', N'ADM001', N'5132A91CED1D492A5440F5049E563A1B0998984EB8394C6A39846A090EC2AEC6')
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol], [DVH]) VALUES (N'C001', N'CAJ001', N'926EB27C17F9028D88676897F60D73B36DBE0355DB77A8B6AF16C48C25B11EB4')
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol], [DVH]) VALUES (N'RTO1', N'ADM001', N'A9F81379CED806031B048CD862181ABF967CA7C0923E671E5402C921A3FBAC10')
GO
ALTER TABLE [dbo].[DVV] ADD  DEFAULT ('') FOR [ValorHash]
GO
ALTER TABLE [dbo].[Familia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[FamiliaXFamilia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Idioma] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Patente] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[PatenteXFamilia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[RolXFamilia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[UsuarioXIdioma] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[UsuarioXRol] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[UsuarioXIdioma]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXIdioma_Idioma] FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idioma] ([Id_Idioma])
GO
ALTER TABLE [dbo].[UsuarioXIdioma] CHECK CONSTRAINT [FK_UsuarioXIdioma_Idioma]
GO
ALTER TABLE [dbo].[UsuarioXIdioma]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXIdioma_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[UsuarioXIdioma] CHECK CONSTRAINT [FK_UsuarioXIdioma_Usuario]
GO
USE [master]
GO
