USE [master]
GO
/****** Object:  Database [CLOTECH]    Script Date: 16/7/2026 20:20:07 ******/
CREATE DATABASE [CLOTECH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLOTECH', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLOTECH_log', FILENAME = N'D:\SQL SERVER 2025\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLOTECH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLOTECH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLOTECH]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [varchar](80) NOT NULL,
	[LogIn] [text] NULL,
	[Evento] [text] NULL,
	[Modulo] [text] NULL,
	[Criticidad] [int] NULL,
	[Fecha] [date] NULL,
	[Hora] [time](0) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[Id_Detalle] [varchar](50) NOT NULL,
	[Id_Factura] [varchar](50) NULL,
	[Id_Producto] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](18, 0) NULL,
	[Precio_Venta] [decimal](18, 0) NULL,
	[Descuento] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[NombreTabla] [varchar](50) NOT NULL,
	[ValorHash] [varchar](64) NOT NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id_Factura] [varchar](50) NOT NULL,
	[Id_Cliente] [varchar](50) NULL,
	[Descripcion] [text] NULL,
	[Metodo_pago] [text] NULL,
	[Fecha_emision] [date] NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[Id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaXFamilia]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaXFamilia](
	[Id_Familia] [varchar](50) NOT NULL,
	[Id_SubFamilia] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_FamiliaXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Familia] ASC,
	[Id_SubFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_Idioma] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id_Patente] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatenteXFamilia]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatenteXFamilia](
	[Id_Patente] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_PatenteXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Patente] ASC,
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_Producto] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Descripcion] [text] NULL,
	[Precio_unitario] [decimal](18, 0) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Telefono] [int] NULL,
	[Direccion] [text] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id_Rol] [varchar](50) NOT NULL,
	[Titulo] [text] NULL,
	[Estado] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXFamilia]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXFamilia](
	[Id_Rol] [varchar](50) NOT NULL,
	[Id_Familia] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_RolXFamilia] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolXPatente]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolXPatente](
	[Id_Rol] [varchar](50) NOT NULL,
	[Id_Patente] [varchar](50) NOT NULL,
 CONSTRAINT [Id_RolXPatente] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[DNI] [int] NULL,
	[Edad] [int] NULL,
	[Email] [varchar](60) NULL,
	[Contraseña] [varchar](70) NULL,
	[Rol] [text] NULL,
	[Activo] [bit] NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXIdioma]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXIdioma](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Id_Idioma] [varchar](10) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [PK_UsuarioXIdioma] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXRol]    Script Date: 16/7/2026 20:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXRol](
	[Id_Usuario] [varchar](50) NOT NULL,
	[Id_Rol] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NOT NULL,
 CONSTRAINT [Id_UsuarioXRol] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha], [Hora]) VALUES (N'0d125248-3000-4746-a412-414b17c8fa97', N'jsulipaclotech@gmail.com', N'Log In', N'Usuario', 1, CAST(N'2026-07-16' AS Date), CAST(N'16:45:34' AS Time))
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha], [Hora]) VALUES (N'492b8b9f-6050-4b49-9e15-ca17414d2820', N'jsulipaclotech@gmail.com', N'Log Out', N'Usuario', 2, CAST(N'2026-07-16' AS Date), CAST(N'16:45:15' AS Time))
INSERT [dbo].[Bitacora] ([Id_Bitacora], [LogIn], [Evento], [Modulo], [Criticidad], [Fecha], [Hora]) VALUES (N'50277e37-c0ac-467e-920f-193d8890d8e2', N'jsulipaclotech@gmail.com', N'Cambio de idioma', N'Idioma', 3, CAST(N'2026-07-16' AS Date), CAST(N'16:45:15' AS Time))
GO
INSERT [dbo].[DVV] ([NombreTabla], [ValorHash]) VALUES (N'Familia', N'3073546FAE48D3B0756ADA216DDEEBECE7D76A09984CC75014BCF09C482DFC4A')
INSERT [dbo].[DVV] ([NombreTabla], [ValorHash]) VALUES (N'FamiliaXFamilia', N'0D7702CEAD22F23330B8B386DEE50C6C8A5C97BF2D50A8F23D08C87A8CB45C24')
INSERT [dbo].[DVV] ([NombreTabla], [ValorHash]) VALUES (N'Idioma', N'AAADE786BA25A7D40FA7397B0545082D51D095947773818C01236E612C02B147')
GO
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado], [DVH]) VALUES (N'F0001', N'MENU ADMINISTRADOR', 1, N'6DAF20C9E1D45DDD19090C3328F7A7B7E63B7DB78D40A74485606312E11767AC')
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado], [DVH]) VALUES (N'F0002', N'GESTION DE USUARIO', 1, N'790D5E948B534F566EC504F5216A207AF1606C5573CADB4B80C7877DF0376819')
INSERT [dbo].[Familia] ([Id_Familia], [Titulo], [Estado], [DVH]) VALUES (N'F0003', N'GESTION DE PERFIL', 1, N'C2C6BFD635374F10FB159C004ED6A07A794890359B53D9777E085B30934D5FB7')
GO
INSERT [dbo].[FamiliaXFamilia] ([Id_Familia], [Id_SubFamilia], [DVH]) VALUES (N'F0004', N'F0005', N'0487F160BD984F4175110C3E01843DD3F3163BBC63DCC2FCE3A3A55E422642CC')
GO
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [DVH]) VALUES (N'en', N'English', N'ED6FA037278F06930DEF78F66CC044CCE4FE349F8F2773EED10F5D11E049EC89')
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [DVH]) VALUES (N'es', N'Español', N'D2BE655D776CCA75B74DBDD9E9527ED8169BC072E722F4F79CB8D16B30940CB4')
GO
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado], [DVH]) VALUES (N'P0001', N'MODULO_ADMIN', 1, N'4BC490B65C6848EDD1F9B00F0DABC46F3E5689C2297DCB8DE628FF12F45340FD')
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado], [DVH]) VALUES (N'P0002', N'MODULO_MAESTRO', 1, N'66A9851229BE9E07B49B34E25CC25144E007BCC1E48DDBF7ADB44BA1E99BD78C')
INSERT [dbo].[Patente] ([Id_Patente], [Titulo], [Estado], [DVH]) VALUES (N'P0003', N'MODULO_VENTA', 1, N'AE86B460E513004916111BCCA962FB27C45CCB6730EE59C80486EDBD8F8B32E5')
GO
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia], [DVH]) VALUES (N'P0001', N'F0001', N'FD215EF9B704FF83D1063EFB1A15774AD6B84B53FE6A6B2D0FCB22285DF895D4')
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia], [DVH]) VALUES (N'P0002', N'F0001', N'1CC0FF2401D7EC6F43916BA42EED473EFE2B8D67FF90CECC909D7AEEFDA2F081')
INSERT [dbo].[PatenteXFamilia] ([Id_Patente], [Id_Familia], [DVH]) VALUES (N'P0003', N'F0001', N'98A63C0E24D968020AC8174566EBA2E225DDE04A844FB0DF8AC8C9EDBD3167BD')
GO
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado], [DVH]) VALUES (N'ADM001', N'Administrador', 1, N'628254D68F57D6329A49175A2CCD14F81D52089A0702EF519A26078044EE49E9')
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado], [DVH]) VALUES (N'ADM002', N'Gerente Damian', 0, N'C44F2F7EC6F28C5F031D8D14D43986959356045E2767D64432411A3E7956A206')
INSERT [dbo].[Rol] ([Id_Rol], [Titulo], [Estado], [DVH]) VALUES (N'CAJ001', N'Cajero', 1, N'CBD5D6DA6E2312B57A6CBAD4881E62D98DEBCABD92A70EEE4C9CF277D0F566D4')
GO
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia], [DVH]) VALUES (N'ADM001', N'F0001', N'352AA7029278FA40EBD99969DDBB64B078A4904523196A827D7DB54F54649A86')
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia], [DVH]) VALUES (N'ADM001', N'F0002', N'392F361F7174A1A40D414ECC2AE0AC97CC6ECFDC8C6F6116329BB4FB2E045D6F')
INSERT [dbo].[RolXFamilia] ([Id_Rol], [Id_Familia], [DVH]) VALUES (N'CAJ001', N'F0004', N'5EAEA8F5B8A1B19275D9296D7B001228F865B99D42F8E86637D463B6DF00717C')
GO
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo], [DVH]) VALUES (N'A001', N'Rodriguez', N'Galati', 44777999, 21, N'rodriguezgalaticlotech@gmail.com', N'312e7440fcb03b9dc45b389a7dbee32975fcf4370dd37d8585624f2c07ad4cf2', N'Gerente', 1, N'19CEE415B378F5AC507893FD41D98F27A06AAF87163F8CEA857AE8CF2B01EAE3')
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo], [DVH]) VALUES (N'A002', N'Jorge', N'Sulipa', 11222444, 21, N'jsulipaclotech@gmail.com', N'f69ed3a744195d7d1429b167f449ed9a76f36ba6a74f997a7bfe179649de32c4', N'Administrador', 1, N'19C9AFF8C55FCC8EDF521EE504AE66E6D4A23AEAC150C89BEB00F804DF72B91F')
INSERT [dbo].[Usuario] ([Id_Usuario], [Nombre], [Apellido], [DNI], [Edad], [Email], [Contraseña], [Rol], [Activo], [DVH]) VALUES (N'C001', N'Damian', N'Lopez', 50606060, 25, N'dlopezclotech@gmail.com', N'6c15c5bf902dff4e0d3d42d0c73c98a2a96ddad52332e81a1028a9390d249d13', N'Cajero', 1, N'2D42E19CF0E8C9EF016AE48B8D88A24ADCA811B6A32B15F91D98C40F9D9880C5')
GO
INSERT [dbo].[UsuarioXIdioma] ([Id_Usuario], [Id_Idioma], [DVH]) VALUES (N'A002', N'es', N'B982D61AEC031E33B8C821D6AA7559BAD2430AE33E945AD814DB0D3137817073')
INSERT [dbo].[UsuarioXIdioma] ([Id_Usuario], [Id_Idioma], [DVH]) VALUES (N'C003', N'es', N'096CFBC210A56F648969B94E1FF7259E7719D21B13716D366A76AB5620136287')
GO
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol], [DVH]) VALUES (N'A002', N'ADM001', N'5132A91CED1D492A5440F5049E563A1B0998984EB8394C6A39846A090EC2AEC6')
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol], [DVH]) VALUES (N'C001', N'CAJ001', N'926EB27C17F9028D88676897F60D73B36DBE0355DB77A8B6AF16C48C25B11EB4')
INSERT [dbo].[UsuarioXRol] ([Id_Usuario], [Id_Rol], [DVH]) VALUES (N'C003', N'CAJ001', N'159CB6C29CAEC737DE55AD39C2F6F00502A901E127ED0D283D6083316B169344')
GO
ALTER TABLE [dbo].[DVV] ADD  DEFAULT ('') FOR [ValorHash]
GO
ALTER TABLE [dbo].[Familia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[FamiliaXFamilia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Idioma] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Patente] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[PatenteXFamilia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[RolXFamilia] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[UsuarioXIdioma] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[UsuarioXRol] ADD  DEFAULT ('') FOR [DVH]
GO
ALTER TABLE [dbo].[UsuarioXIdioma]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXIdioma_Idioma] FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idioma] ([Id_Idioma])
GO
ALTER TABLE [dbo].[UsuarioXIdioma] CHECK CONSTRAINT [FK_UsuarioXIdioma_Idioma]
GO
ALTER TABLE [dbo].[UsuarioXIdioma]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXIdioma_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[UsuarioXIdioma] CHECK CONSTRAINT [FK_UsuarioXIdioma_Usuario]
GO
USE [master]
GO
